<!--The content below is only a placeholder and can be replaced.-->
<div>
  <header>
    <mat-toolbar class="mat-primary">
      <!-- Title -->
      <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>File Explorer
      <!-- Add spacer, to align navigation to the right -->
    </mat-toolbar>
  </header>
      <!-- Navigation. We hide it in small screens. -->
      <mat-sidenav-container>
        <mat-sidenav #sidenav mode="side">
          <button mat-button routerLink="/">App</button>
          <button mat-button routerLink="/about">About</button>
        </mat-sidenav>
        <mat-sidenav-content>
          <router-outlet></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>
</div>
