
<div *ngIf="tree">

  <mat-card class="fileTable">
    <mat-table #table [dataSource]="tree.children">
    <ng-container matColumnDef="pinned">
      <mat-header-cell *matHeaderCellDef class="pin-column">Pin</mat-header-cell>
      <mat-cell *matCellDef="let element" class="pin-column"><mat-checkbox [(ngModel)]="element.pinned"></mat-checkbox></mat-cell>
    </ng-container>
    <ng-container matColumnDef="name" class="nameCol">
      <mat-header-cell *matHeaderCellDef>File Name</mat-header-cell>
      <mat-cell (click)="openFileDialog(element)" *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="last_modified">
      <mat-header-cell *matHeaderCellDef>Last Modified</mat-header-cell>
      <mat-cell (click)="openFileDialog(element)" *matCellDef="let element"></mat-cell>
    </ng-container>
    <ng-container matColumnDef="size">
      <mat-header-cell *matHeaderCellDef>Size</mat-header-cell>
      <mat-cell (click)="openFileDialog(element)" *matCellDef="let element">{{format(element.size)}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="fileRow" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  </mat-card>
</div>




